.signup-form-container {
    width: 100%; /* Make the container take up the full width of the page */
    min-width: 400px; /* Still limit the maximum width to 400px */
    margin: 0 auto; /* Center the container by setting left and right margins to auto */
}

.signup-form-container h2 {
    text-align: center;
}

.signup-form-container label {
    font-weight: bold;
}

.signup-form-container input,
.signup-form-container button,
.signup-form-container a {
    margin-top: 10px;
}

.signup-form-container button {
    width: 100%;
}

.signup-form-container .footer {
    margin-top: 50px;
    background-color: #efe5f3;
    padding: 20px 0;
    color: #495057;
}

.signup-form-container .footer-icons {
    font-size: 24px;
    color: #495057;
    margin-right: 10px;
}